@import "styles/variables.scss";
@import "styles/mixins.scss";

$quest-height: 10rem;
$quest-width: 10rem;
$quest-padding: 1rem;
$quest-margin: 2rem;

.quest {
  &__card {
    min-height: $quest-height;
    width: $quest-width;
    margin: $quest-margin;
    padding: $quest-padding;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    &--create {
    }

    &--show {
      background-color: white;
    }

    &--status {
    }

    &--confirm {
    }

    &--error {
    }
  }

  &__difficulty {
    &-common {
      @include border-card($common-color);
    }
    &-uncommon {
      @include border-card($uncommon-color);
    }
    &-rare {
      @include border-card($rare-color);
    }
    &-legendary {
      @include border-card($legendary-color);
    }
    &-epic {
      @include border-card($epic-color);
    }
  }
}

.task-list {
  list-style-type: none;
  padding-left: 0px;
}
